<div class="menu">

  <div class="menu-item">
    <a [routerLink]="['/home']">Home</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/directives-demo']">Directives</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/pipes-demo']">Pipes</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/services-demo']">Services</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/observables-demo']">Observables</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/forms-demo']">Forms</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/component-interaction-demo']">Component&nbsp;Interaction</a>
  </div>

  <div class="menu-item">
    <a [routerLink]="['/routing-demo']">Routing</a>
  </div>
  
</div>