<h2>Data consumption using Observable</h2>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone No.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
    </tr>
  </tbody>
</table>

<h2>Data consumption using Observable and async</h2>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone No.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts$ | async">
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
    </tr>
  </tbody>
</table>

<h2>Data consumption using Promise converted from Observable</h2>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone No.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contactsFromPromise">
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
    </tr>
  </tbody>
</table>

<br/>
<hr/>
<br/>