/* You can add global styles to this file, and also import other style files */
h2 {
    font-size: 26px;
    padding: 5px 10px;
    background: #e1e1e1;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    background: yellow;
    border: 1px solid #31464d;
    text-align: center;
    display: inline-block;
}